h1{
	color: #F9ADA8;
	font-family: "Permanent Marker", cursive;
	text-align: center;
	font-size: 90px;
	font-weight: bolder;
}

h2 {
font-size: 30px;
}

body {
font-family: "Patua One", cursive;
margin: 0px !important
}

.container {
	display: flex;
	height: 360px;
	justify-content: space-between;
}
.card {
	margin: 20px;
	height:90%;
	width: 30%;
	text-align: center;
	background-size: cover;
	color: #98130B;
	padding: 10px 0px;
	opacity: 0,1;
	border: 1;
}
.typeform-widget{
	margin: 10px;
	height:90%;
	width: 30%;
	text-align: center;
	background-size: cover;
	color: #98130B;
	padding: 10px 0px;
	opacity: 0,1;
	border: 1;
}
#entreprise{
	background-image: url(images/bureauSmall.jpg);
	background-position: bottom;
}
#candidat{
	background-image: url(images/soloSmall.jpg);
	background-position: center;
}
.banner{
	width: 100%;
	color: #212D7F;
	text-align: center;
	background-image: url(images/OrdiSmall.jpg);
	background-size: cover;
	padding: 100px 0px;
}
footer {
	display: flex;
	background-color: #212D7F;
	margin-top: 20px;
	color: #F9ADA8;
	justify-content: space-between;
	padding: 5px 20px;
}
.mt-20{
	margin-top: 20px;
}
a{
	text-decoration: none
}
#linkedin{
	color: #F9ADA8;
}