header{
	background-color: #37515F;
	color: #F49390;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	font-size: 70px;
	font-weight: bolder;
	padding: 20px;
}
.container {
	display: flex;
	height: 400px;
	justify-content: space-between;
}
.card {
	margin: 20px;
	height:300px;
	width: 50%;
	text-align: center;
	padding: 300px 0px;
}
#entreprise{
	background-image: url(images/bureau.jpg);
	background-size: cover;
}
#candidat{
	background-image: url(images/solo.jpg);
	background-size: cover;
}